Repository shehuj/Secure_AWS_Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

terraform-cost-estimation:
  name: Terraform Cost Estimation
  entry: scripts/hooks/cost-estimate.sh
  language: script
  pass_filenames: false

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: scripts/hooks/ansible-syntax-check.sh
  language: script
  pass_filenames: false

validate-infrastructure:
  name: Validate Infrastructure Config
  entry: scripts/hooks/validate-infrastructure.sh
  language: script
  pass_filenames: false

Fix prevent_destroy blocking destroy workflow; add ghost_domain_name to tfvars
  .github/workflows/terraform-cleanup.yml
  terraform/terraform.tfvars
Due: ansible-syntax-check, validate-infrastructure

Fix monitoring_efs SG DependencyViolation and vpc flow logs ResourceAlreadyExists
  .github/workflows/cd.yml
Due: ansible-syntax-check

Make all Terraform resources idempotent via comprehensive state reconciliation
  .github/workflows/cd.yml
Due: ansible-syntax-check

Fix stale-state errors for DB subnet group and CW log groups
  .github/workflows/cd.yml
Due: ansible-syntax-check

Fix persistent DB subnet group and VPC flow log CW log group errors
  .github/workflows/cd.yml
  terraform/modules/rds_mysql/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixes
  terraform/.terraform.lock.hcl
  terraform/modules/vpc/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Update ci.yml
  .github/workflows/ci.yml
Due: ansible-syntax-check

Dev (#117)
  .github/workflows/cd.yml
  .github/workflows/terraform-cleanup.yml
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/alb_asg/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/rds_mysql/main.tf
  terraform/modules/vpc/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Rewrite cleanup workflow for complete environment teardown
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Dev (#118)
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Fix service discovery namespace import ID format
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#120)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Skip Secrets Manager secrets in PENDING_DELETION during import
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#121)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Fix ASG AlreadyExists, secrets PENDING_DELETION, and stale DB subnet group
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#122)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Fix missing autoscaling IAM permissions and Performance Insights on t3.micro
  terraform/main.tf
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Make all reconcile imports conditional on AWS resource existence
  .github/workflows/cd.yml
Due: ansible-syntax-check

Split IAMOperations out of terraform_compute policy to stay under 6144 bytes
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#124)
  .github/workflows/cd.yml
  terraform/main.tf
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Make Route53 records idempotent — import if exists, never recreate
  .github/workflows/cd.yml
  terraform/modules/ecs_ghost/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#125)
  .github/workflows/cd.yml
  terraform/modules/ecs_ghost/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Delete .terraform.lock.hcl
  terraform/.terraform.lock.hcl
Due: validate-infrastructure

Dev (#126)
  terraform/.terraform.lock.hcl
Due: validate-infrastructure

Expand CloudWatch exporter metrics and document observability stack
  README.md
  terraform/modules/observability/cloudwatch-exporter.yml.tpl
Due: validate-infrastructure

Dev (#127)
  README.md
  terraform/modules/observability/cloudwatch-exporter.yml.tpl
Due: validate-infrastructure

Widen cleanup workflow to eliminate all cost-incurring resources
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Dev (#128)
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

updated cleanup flow
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Dev (#129)
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

removed deletion protection
  terraform/main.tf
  terraform/modules/alb_asg/variables.tf
  terraform/modules/rds_mysql/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#130)
  terraform/main.tf
  terraform/modules/alb_asg/variables.tf
  terraform/modules/rds_mysql/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

updates
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: ansible-syntax-check

Update backend.tf
  terraform/backend.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#131)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  terraform/backend.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Path conditions:
  terraform-cost-estimation: any of: \.tf$
  ansible-syntax-check: any of: \.(yaml|yml)$
  validate-infrastructure: any of: ^(terraform|ansible)/
