Repository shehuj/Secure_AWS_Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

terraform-cost-estimation:
  name: Terraform Cost Estimation
  entry: scripts/hooks/cost-estimate.sh
  language: script
  pass_filenames: false

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: scripts/hooks/ansible-syntax-check.sh
  language: script
  pass_filenames: false

validate-infrastructure:
  name: Validate Infrastructure Config
  entry: scripts/hooks/validate-infrastructure.sh
  language: script
  pass_filenames: false

fixed bucket issue
  .github/workflows/dependency-update.yml
  terraform/bootstrap/backend.tf
  terraform/bootstrap/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update README.md
  README.md
Due: none

Dev (#132)
  .github/workflows/dependency-update.yml
  README.md
  terraform/bootstrap/backend.tf
  terraform/bootstrap/variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

updates
  terraform/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/ecs_ghost/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#133)
  terraform/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/ecs_ghost/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

updatedbdestroy before create logic
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#134)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Update cd.yml
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#135)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#136)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#137)
  .github/workflows/cd.yml
Due: ansible-syntax-check

fixed
  .github/workflows/cd.yml
  .github/workflows/dependency-update.yml
  terraform/bootstrap/.terraform.lock.hcl
Due: ansible-syntax-check, validate-infrastructure

Update main.tf
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#138)
  .github/workflows/cd.yml
  .github/workflows/dependency-update.yml
  terraform/bootstrap/.terraform.lock.hcl
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#139)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Create .terraform.lock.hcl
  terraform/.terraform.lock.hcl
Due: validate-infrastructure

Dev (#140)
  terraform/.terraform.lock.hcl
Due: validate-infrastructure

Update ci.yml
  .github/workflows/ci.yml
Due: ansible-syntax-check

Dev (#141)
  .github/workflows/ci.yml
Due: ansible-syntax-check

Path conditions:
  terraform-cost-estimation: any of: \.tf$
  ansible-syntax-check: any of: \.(yaml|yml)$
  validate-infrastructure: any of: ^(terraform|ansible)/
