Repository shehuj/Secure_AWS_Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

terraform-cost-estimation:
  name: Terraform Cost Estimation
  entry: scripts/hooks/cost-estimate.sh
  language: script
  pass_filenames: false

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: scripts/hooks/ansible-syntax-check.sh
  language: script
  pass_filenames: false

validate-infrastructure:
  name: Validate Infrastructure Config
  entry: scripts/hooks/validate-infrastructure.sh
  language: script
  pass_filenames: false

Update cd.yml
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#59)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Update ghost_db.yml
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

Dev (#60)
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

fixed domain issue
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#61)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

updates
  terraform/.terraform.lock.hcl
  terraform/terraform.tfvars
Due: validate-infrastructure

Dev (#62)
  terraform/.terraform.lock.hcl
  terraform/terraform.tfvars
Due: validate-infrastructure

Update main.tf
  terraform/modules/monitoring/main.tf
Due: terraform-cost-estimation, validate-infrastructure

fixed resource already exist issue
  terraform/imports.tf
  terraform/modules/monitoring/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#63)
  terraform/imports.tf
Due: terraform-cost-estimation, validate-infrastructure

optimized ui
  ansible/files/css/styles.css
  ansible/files/js/app.js
  ansible/templates/index.html.j2
Due: validate-infrastructure

Dev (#64)
  ansible/files/css/styles.css
  ansible/files/js/app.js
  ansible/templates/index.html.j2
Due: validate-infrastructure

Dev (#66)
  ansible/files/css/styles.css
  ansible/files/js/app.js
  ansible/templates/index.html.j2
Due: validate-infrastructure

Dev (#67)
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

Update terraform-cleanup.yml
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Dev (#68)
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

updated UI
  ansible/files/css/styles.css
  ansible/files/js/app.js
Due: validate-infrastructure

Dev (#69)
  ansible/files/css/styles.css
  ansible/files/js/app.js
Due: validate-infrastructure

Update webserver.yml
  ansible/playbooks/webserver.yml
Due: ansible-syntax-check, validate-infrastructure

Dev (#70)
  ansible/playbooks/webserver.yml
Due: ansible-syntax-check, validate-infrastructure

modified UI
  ansible/files/css/styles.css
  ansible/files/js/app.js
  ansible/templates/docs.html.j2
  ansible/templates/index.html.j2
Due: validate-infrastructure

Dev (#71)
  ansible/files/css/styles.css
  ansible/files/js/app.js
  ansible/templates/docs.html.j2
  ansible/templates/index.html.j2
Due: validate-infrastructure

updated monitoring stack
  terraform/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/observability/outputs.tf
  terraform/modules/observability/variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#72)
  terraform/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/observability/outputs.tf
  terraform/modules/observability/variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Update main.tf
  terraform/modules/observability/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#73)
  terraform/modules/observability/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Update outputs.tf
  terraform/outputs.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#76)
  terraform/outputs.tf
Due: terraform-cost-estimation, validate-infrastructure

updated prometheus url
  terraform/modules/observability/main.tf
  terraform/modules/observability/prometheus.yml.tpl
Due: terraform-cost-estimation, validate-infrastructure

Dev (#77)
  terraform/modules/observability/main.tf
  terraform/modules/observability/prometheus.yml.tpl
Due: terraform-cost-estimation, validate-infrastructure

refactored
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-cleanup.yml
  terraform/modules/alb_asg/variables.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/observability/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#78)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-cleanup.yml
  terraform/modules/alb_asg/variables.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/observability/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixed secrets issue
  terraform/.terraform.lock.hcl
  terraform/modules/observability/variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Path conditions:
  terraform-cost-estimation: any of: \.tf$
  ansible-syntax-check: any of: \.(yaml|yml)$
  validate-infrastructure: any of: ^(terraform|ansible)/
