Repository shehuj/Secure_AWS_Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

terraform-cost-estimation:
  name: Terraform Cost Estimation
  entry: scripts/hooks/cost-estimate.sh
  language: script
  pass_filenames: false

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: scripts/hooks/ansible-syntax-check.sh
  language: script
  pass_filenames: false

validate-infrastructure:
  name: Validate Infrastructure Config
  entry: scripts/hooks/validate-infrastructure.sh
  language: script
  pass_filenames: false

fixed lock issues
  .github/workflows/terraform-unlock.yml
  terraform/modules/ecs_bluegreen/.terraform.lock.hcl
  terraform/modules/user_analytics/.terraform.lock.hcl
Due: ansible-syntax-check, validate-infrastructure

Dev (#37)
  .github/workflows/compliance.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-ci-cd.yml
  .github/workflows/terraform-cleanup.yml
  .github/workflows/terraform-plan.yml
  .github/workflows/terraform-unlock.yml
  README.md
  terraform/examples/blue-green-deployment.tf
  terraform/modules/ecs_bluegreen/.terraform.lock.hcl
  terraform/modules/user_analytics/.terraform.lock.hcl
  terraform/terraform.tfvars
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update terraform-apply.yml
  .github/workflows/terraform-apply.yml
Due: ansible-syntax-check

Dev (#38)
  .github/workflows/terraform-apply.yml
Due: ansible-syntax-check

Add ghost_db.yml Ansible playbook and workflow job for DB setup
  .github/workflows/ansible-ci-cd.yml
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

Unify CI/CD into two workflows: ci.yml and cd.yml
  .github/workflows/ansible-ci-cd.yml
  .github/workflows/ansible-deploy.yml
  .github/workflows/blue-green-deployment.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/ghost-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  terraform/main.tf
  terraform/modules/alb_asg/main.tf
  terraform/modules/alb_asg/user_data.sh
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/ecs_ghost/variables.tf
  terraform/modules/elasticache_redis/.terraform.lock.hcl
  terraform/modules/monitoring/.terraform.lock.hcl
  terraform/modules/observability/.terraform.lock.hcl
  terraform/modules/observability/main.tf
  terraform/modules/rds_mysql/.terraform.lock.hcl
  terraform/modules/rds_mysql/main.tf
  terraform/modules/rds_mysql/outputs.tf
  terraform/modules/rds_mysql/variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update README to reflect unified CI/CD and RDS MySQL setup
  README.md
Due: none

rebase (#39)
  README.md
Due: none

Fix Terraform formatting (terraform fmt)
  terraform/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/user_analytics/main.tf
  terraform/terraform.tfvars
Due: terraform-cost-estimation, validate-infrastructure

Set Secrets Manager recovery_window_in_days=0 to prevent recreation errors
  terraform/modules/rds_mysql/main.tf
Due: terraform-cost-estimation, validate-infrastructure

rebase (#41)
  terraform/modules/rds_mysql/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Update destroy workflow for RDS MySQL and Secrets Manager
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

refactored
  terraform/.terraform.lock.hcl
  terraform/modules/rds_mysql/main.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

refactored (#43)
  terraform/.terraform.lock.hcl
  terraform/modules/rds_mysql/main.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

fixes
  .github/workflows/cd.yml
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

Update ci.yml
  .github/workflows/ci.yml
Due: ansible-syntax-check

Dev (#44)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

fixed
  .github/workflows/cd.yml
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

Dev (#45)
  .github/workflows/cd.yml
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

fixed cd.yml
  .github/workflows/cd.yml
  ansible/playbooks/webserver.yml
Due: ansible-syntax-check, validate-infrastructure

Dev (#46)
  .github/workflows/cd.yml
  ansible/playbooks/webserver.yml
Due: ansible-syntax-check, validate-infrastructure

fixed asg issues
  ansible/playbooks/ghost_db.yml
  ansible/playbooks/webserver.yml
Due: ansible-syntax-check, validate-infrastructure

Dev (#50)
  ansible/playbooks/ghost_db.yml
  ansible/playbooks/webserver.yml
Due: ansible-syntax-check, validate-infrastructure

modified ansible playbooks
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/terraform-cleanup.yml
  ansible/requirements.yml
  terraform/outputs.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

removed s3 module, not needed
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#52)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/terraform-cleanup.yml
  ansible/requirements.yml
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
  terraform/outputs.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update ghost_db.yml
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

Dev (#54)
  ansible/playbooks/ghost_db.yml
Due: ansible-syntax-check, validate-infrastructure

fixes
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: ansible-syntax-check

Dev (#56)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: ansible-syntax-check

fixed failures
  ansible/playbooks/ghost_db.yml
  ansible/playbooks/webserver.yml
  terraform/modules/rds_mysql/outputs.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#57)
  ansible/playbooks/ghost_db.yml
  ansible/playbooks/webserver.yml
  terraform/modules/rds_mysql/outputs.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Path conditions:
  terraform-cost-estimation: any of: \.tf$
  ansible-syntax-check: any of: \.(yaml|yml)$
  validate-infrastructure: any of: ^(terraform|ansible)/
