Repository shehuj/Secure_AWS_Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Path conditions:
  terraform-cost-estimation: any of: \.tf$
  ansible-syntax-check: any of: \.(yaml|yml)$
  validate-infrastructure: any of: ^(terraform|ansible)/

Dev (#99)
  .github/workflows/cd.yml
Due: ansible-syntax-check

updates
  .github/workflows/cd.yml
  terraform/imports.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#101)
  .github/workflows/cd.yml
  terraform/imports.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fiixed OIDC issues
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/terraform-cleanup.yml
  terraform/.terraform.lock.hcl
  terraform/bootstrap/backend.tf
  terraform/bootstrap/main.tf
  terraform/bootstrap/outputs.tf
  terraform/bootstrap/variables.tf
  terraform/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update outputs.tf
  terraform/outputs.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#102)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/terraform-cleanup.yml
  terraform/.terraform.lock.hcl
  terraform/bootstrap/backend.tf
  terraform/bootstrap/main.tf
  terraform/bootstrap/outputs.tf
  terraform/bootstrap/variables.tf
  terraform/main.tf
  terraform/outputs.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update cd.yml
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#103)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#104)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#105)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#106)
  .github/workflows/cd.yml
Due: ansible-syntax-check

updated ASG name
  terraform/backend.tf
  terraform/modules/alb_asg/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#107)
  terraform/backend.tf
  terraform/modules/alb_asg/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#109)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#110)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#111)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#112)
  .github/workflows/cd.yml
Due: ansible-syntax-check

fixes
  .github/workflows/cd.yml
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/rds_mysql/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#113)
  .github/workflows/cd.yml
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/rds_mysql/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Fix reconcile step: remove count=0 role import, make tf_import always return 0
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#114)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#115)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Fix reconcile step: set +e, remove duplicate helpers, fix all &&-chain returns
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#116)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Add ALB listeners and EFS mount targets to reconcile step
  .github/workflows/cd.yml
Due: ansible-syntax-check

Fix SG replacement deadlocks and TG name-conflict errors in pipeline
  .github/workflows/cd.yml
  terraform/modules/alb_asg/main.tf
  terraform/modules/observability/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Revert TG name_prefix: keep fixed names, rely on reconcile import/skip
  .github/workflows/cd.yml
  terraform/modules/alb_asg/main.tf
  terraform/modules/observability/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Fix TG/listener stale state causing ForceNew replacements in pipeline
  .github/workflows/cd.yml
Due: ansible-syntax-check

Production hardening: deletion protection, secrets recovery, and cleanup automation
  .github/workflows/ci.yml
  .github/workflows/terraform-cleanup.yml
  terraform/main.tf
  terraform/modules/rds_mysql/main.tf
  terraform/modules/vpc/main.tf
  terraform/terraform.tfvars
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Fix duplicate ghost_domain_name variable declaration in variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure
