Repository shehuj/Secure_AWS_Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

terraform-cost-estimation:
  name: Terraform Cost Estimation
  entry: scripts/hooks/cost-estimate.sh
  language: script
  pass_filenames: false

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: scripts/hooks/ansible-syntax-check.sh
  language: script
  pass_filenames: false

validate-infrastructure:
  name: Validate Infrastructure Config
  entry: scripts/hooks/validate-infrastructure.sh
  language: script
  pass_filenames: false

fixed secret issue
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/terraform-cleanup.yml
  terraform/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/observability/outputs.tf
  terraform/modules/observability/variables.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update ci.yml
  .github/workflows/ci.yml
Due: ansible-syntax-check

Dev (#80)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/terraform-cleanup.yml
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/observability/outputs.tf
  terraform/modules/observability/variables.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Update main.tf
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#81)
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

added cloudwatch side car
  terraform/global-bundle.pem
  terraform/main.tf
  terraform/modules/observability/cloudwatch-exporter.yml.tpl
  terraform/modules/observability/main.tf
  terraform/modules/observability/prometheus.yml.tpl
  terraform/modules/observability/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#82)
  terraform/global-bundle.pem
  terraform/main.tf
  terraform/modules/observability/cloudwatch-exporter.yml.tpl
  terraform/modules/observability/main.tf
  terraform/modules/observability/prometheus.yml.tpl
  terraform/modules/observability/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#83)
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Update imports.tf
  terraform/imports.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#84)
  terraform/imports.tf
Due: terraform-cost-estimation, validate-infrastructure

fixes
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  terraform/modules/oidc_role/main.tf
  terraform/modules/oidc_role/oidc.txt
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixed oidc issues
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  terraform/modules/oidc_role/main.tf
  terraform/modules/oidc_role/outputs.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#86)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  terraform/modules/oidc_role/main.tf
  terraform/modules/oidc_role/oidc.txt
  terraform/modules/oidc_role/outputs.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#87)
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

fixes
  terraform/imports.tf
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#88)
  terraform/imports.tf
  terraform/modules/oidc_role/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Update terraform-cleanup.yml
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Dev (#89)
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Dev (#90)
  terraform/imports.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#92)
  terraform/imports.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#93)
  terraform/imports.tf
Due: terraform-cost-estimation, validate-infrastructure

updates
  .github/workflows/cd.yml
  terraform/imports.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#94)
  .github/workflows/cd.yml
  terraform/imports.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixes
  .github/workflows/cd.yml
  terraform/imports.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Dev (#95)
  terraform/imports.tf
Due: terraform-cost-estimation, validate-infrastructure

Update cd.yml
  .github/workflows/cd.yml
Due: ansible-syntax-check

Dev (#98)
  .github/workflows/cd.yml
Due: ansible-syntax-check

Path conditions:
  terraform-cost-estimation: any of: \.tf$
  ansible-syntax-check: any of: \.(yaml|yml)$
  validate-infrastructure: any of: ^(terraform|ansible)/
