Repository shehuj/Secure_AWS_Infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

terraform-cost-estimation:
  name: Terraform Cost Estimation
  entry: scripts/hooks/cost-estimate.sh
  language: script
  pass_filenames: false

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: scripts/hooks/ansible-syntax-check.sh
  language: script
  pass_filenames: false

validate-infrastructure:
  name: Validate Infrastructure Config
  entry: scripts/hooks/validate-infrastructure.sh
  language: script
  pass_filenames: false

Dev (#27)
  .github/labeler.yml
  .github/workflows/ansible-ci-cd.yml
  .github/workflows/blue-green-deployment.yml
  .github/workflows/dependency-update.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-ci-cd.yml
  .pre-commit-config.yaml
  .secrets.baseline
  .tflint.hcl
  .yamllint
  Makefile
  README.md
  docs/AUTOMATION.md
  docs/AUTOMATION_SUMMARY.md
  docs/BLUE_GREEN_DEPLOYMENT.md
  docs/BLUE_GREEN_QUICKSTART.md
  scripts/blue-green/Makefile
  scripts/blue-green/deploy.sh
  scripts/blue-green/rollback.sh
  scripts/blue-green/status.sh
  scripts/deploy/full-deployment.sh
  scripts/hooks/ansible-syntax-check.sh
  scripts/hooks/check-sensitive-data.sh
  scripts/hooks/cost-estimate.sh
  scripts/hooks/validate-infrastructure.sh
  scripts/monitoring/get-metrics.sh
  scripts/monitoring/health-check.sh
  scripts/setup/install-tools.sh
  scripts/test/integration-test.sh
  scripts/test/run-tests.sh
  terraform/examples/blue-green-deployment.tf
  terraform/modules/ecs_bluegreen/main.tf
  terraform/modules/ecs_bluegreen/outputs.tf
  terraform/modules/ecs_bluegreen/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixed version issues
  .github/workflows/dependency-update.yml
  .github/workflows/pr-validation.yml
  .github/workflows/terraform-ci-cd.yml
  docs/AUTOMATION.md
Due: ansible-syntax-check

fixed SAST issue
  .github/SECRETS.md
  .github/workflows/security-scan.yml
  docs/SECURITY_TOOLS_SETUP.md
  sonar-project.properties
Due: ansible-syntax-check

Update blue-green-deployment.tf
  terraform/examples/blue-green-deployment.tf
Due: terraform-cost-estimation, validate-infrastructure

fixes
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Update labeler.yml
  .github/labeler.yml
Due: ansible-syntax-check

Dev (#28)
  .github/SECRETS.md
  .github/labeler.yml
  .github/workflows/dependency-update.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-ci-cd.yml
  docs/AUTOMATION.md
  docs/SECURITY_TOOLS_SETUP.md
  sonar-project.properties
  terraform/examples/blue-green-deployment.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixes
  terraform/examples/blue-green-deployment.tf
  terraform/modules/alb_asg/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/oidc_role/main.tf
  terraform/modules/rds_mysql/main.tf
  terraform/modules/vpc/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Update pr-validation.yml
  .github/workflows/pr-validation.yml
Due: ansible-syntax-check

Dev (#29)
  .github/workflows/pr-validation.yml
  terraform/examples/blue-green-deployment.tf
  terraform/modules/alb_asg/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/oidc_role/main.tf
  terraform/modules/rds_mysql/main.tf
  terraform/modules/vpc/main.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

u
  terraform/modules/alb_asg/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/oidc_role/main.tf
  terraform/modules/rds_mysql/main.tf
  terraform/modules/vpc/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#31)
  terraform/modules/alb_asg/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/monitoring/main.tf
  terraform/modules/observability/main.tf
  terraform/modules/oidc_role/main.tf
  terraform/modules/rds_mysql/main.tf
  terraform/modules/vpc/main.tf
Due: terraform-cost-estimation, validate-infrastructure

fixes
  terraform/modules/ecs_bluegreen/.terraform.lock.hcl
  terraform/modules/ecs_bluegreen/main.tf
  terraform/modules/ecs_bluegreen/variables.tf
  terraform/modules/elasticache_redis/.terraform.lock.hcl
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/rds_mysql/.terraform.lock.hcl
  terraform/modules/rds_mysql/main.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#32)
  terraform/modules/ecs_bluegreen/.terraform.lock.hcl
  terraform/modules/ecs_bluegreen/main.tf
  terraform/modules/ecs_bluegreen/variables.tf
  terraform/modules/elasticache_redis/.terraform.lock.hcl
  terraform/modules/elasticache_redis/main.tf
  terraform/modules/rds_mysql/.terraform.lock.hcl
  terraform/modules/rds_mysql/main.tf
Due: terraform-cost-estimation, validate-infrastructure

fixed lint failures
  terraform/modules/monitoring/.terraform.lock.hcl
  terraform/modules/monitoring/variables.tf
  terraform/modules/observability/.terraform.lock.hcl
  terraform/modules/observability/variables.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

fixed issues with terraform scripts
  terraform/main.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

fixed rp validation issues
  .github/workflows/pr-validation.yml
  .markdown-link-check.json
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
Due: ansible-syntax-check

Dev (#33)
  .github/workflows/pr-validation.yml
  .markdown-link-check.json
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
  terraform/main.tf
  terraform/modules/monitoring/.terraform.lock.hcl
  terraform/modules/monitoring/variables.tf
  terraform/modules/observability/.terraform.lock.hcl
  terraform/modules/observability/variables.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixed tflint issues
  terraform/main.tf
  terraform/modules/elasticache_redis/variables.tf
  terraform/modules/monitoring/variables.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

Dev (#34)
  terraform/main.tf
  terraform/modules/elasticache_redis/variables.tf
  terraform/modules/monitoring/variables.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

updates
  terraform/ANALYTICS_INTEGRATION_SUMMARY.md
  terraform/USER_ANALYTICS_SETUP.md
  terraform/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/ecs_ghost/variables.tf
  terraform/modules/user_analytics/.terraform.lock.hcl
  terraform/modules/user_analytics/README.md
  terraform/modules/user_analytics/analytics.js
  terraform/modules/user_analytics/lambda.tf
  terraform/modules/user_analytics/main.tf
  terraform/modules/user_analytics/outputs.tf
  terraform/modules/user_analytics/variables.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

updates
  AWS_LOGS_VIEWING_GUIDE.md
  aws-logs-aliases.sh
Due: none

modified
  .github/SECRETS.md
  .gitignore
  AWS_LOGS_VIEWING_GUIDE.md
  ENTERPRISE_UPGRADE_PLAN.md
  GHOST_DEPLOYMENT_FIXES.md
  README.md
  ansible/README.md
  docs/AUTOMATION.md
  docs/AUTOMATION_SUMMARY.md
  docs/BLOG_README.md
  docs/BLUE_GREEN_DEPLOYMENT.md
  docs/BLUE_GREEN_QUICKSTART.md
  docs/CHANGES.md
  docs/IDEMPOTENCY.md
  docs/SECURITY_TOOLS_SETUP.md
  docs/ghost-blog-post.md
  docs/ghost-upload-instructions.md
  terraform/ANALYTICS_INTEGRATION_SUMMARY.md
  terraform/USER_ANALYTICS_SETUP.md
  terraform/backend-config.hcl.example
  terraform/backend.tf
  terraform/modules/observability/INTEGRATION.md
  terraform/modules/observability/README.md
  terraform/modules/user_analytics/README.md
  terraform/modules/vpc/main.tf
  terraform/variables.tf
Due: terraform-cost-estimation, validate-infrastructure

fixes
  .github/workflows/ansible-ci-cd.yml
  README.md
Due: ansible-syntax-check

Update main.tf
  terraform/modules/user_analytics/main.tf
Due: terraform-cost-estimation, validate-infrastructure

fixes
  .github/workflows/compliance.yml
  terraform/backend.tf
  terraform/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/oidc_role/main.tf
  terraform/modules/oidc_role/variables.tf
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Fix CI/CD errors: Route 53 zone lookup, OIDC provider, and github-script actions
  .github/workflows/compliance.yml
  .github/workflows/pr-validation.yml
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/ecs_ghost/variables.tf
  terraform/modules/oidc_role/outputs.tf
  terraform/variables.tf
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

fixes
  .github/workflows/terraform-plan.yml
  ansible/inventory/aws_ec2.yml
Due: ansible-syntax-check, validate-infrastructure

updated
  terraform/.terraform.lock.hcl
  terraform/tfplan-full
  terraform/tfplan-task
  terraform/tfplan-task2
Due: validate-infrastructure

fix lint issues
  terraform/modules/alb_asg/main.tf
  terraform/modules/ecs_bluegreen/main.tf
Due: terraform-cost-estimation, validate-infrastructure

updated
  terraform/modules/user_analytics/main.tf
  terraform/modules/vpc/main.tf
Due: terraform-cost-estimation, validate-infrastructure

fixed lint errors
  .github/workflows/security-scan.yml
  .github/workflows/terraform-ci-cd.yml
Due: ansible-syntax-check

fixes
  .github/workflows/pr-validation.yml
  .github/workflows/terraform-ci-cd.yml
Due: ansible-syntax-check

updates
  .github/workflows/compliance.yml
  .github/workflows/ghost-deploy.yml
  .github/workflows/terraform-ci-cd.yml
  .github/workflows/terraform-plan.yml
Due: ansible-syntax-check

updated
  .gitignore
  terraform/modules/ecs_ghost/main.tf
  terraform/terraform.tfvars
Due: terraform-cost-estimation, validate-infrastructure

Update terraform-cleanup.yml
  .github/workflows/terraform-cleanup.yml
Due: ansible-syntax-check

Dev (#36)
  .github/workflows/compliance.yml
  .github/workflows/ghost-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-ci-cd.yml
  .github/workflows/terraform-cleanup.yml
  .github/workflows/terraform-plan.yml
  .gitignore
  terraform/.terraform.lock.hcl
  terraform/modules/alb_asg/main.tf
  terraform/modules/ecs_bluegreen/main.tf
  terraform/modules/ecs_ghost/main.tf
  terraform/modules/monitoring/.terraform.lock.hcl
  terraform/modules/user_analytics/main.tf
  terraform/modules/vpc/main.tf
  terraform/terraform.tfvars
  terraform/tfplan-full
  terraform/tfplan-task
  terraform/tfplan-task2
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

updates
  .github/workflows/compliance.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-ci-cd.yml
  .github/workflows/terraform-cleanup.yml
  .github/workflows/terraform-plan.yml
  README.md
  terraform/examples/blue-green-deployment.tf
  terraform/terraform.tfvars
Due: terraform-cost-estimation, ansible-syntax-check, validate-infrastructure

Path conditions:
  terraform-cost-estimation: any of: \.tf$
  ansible-syntax-check: any of: \.(yaml|yml)$
  validate-infrastructure: any of: ^(terraform|ansible)/
